лабы и другое/XML лаба 2 схема.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="REIT">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SPECIALIZATION">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="UNIVER" type="xs:string"/>
              <xs:element name="BALL" type="xs:string"/>
              <xs:element name="MEST" type="xs:string"/>
              <xs:element name="GOROD" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
